@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Oxygen", sans-serif;
}

.container {
  width: 600px;
  max-height: 500px;
  height: 100vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.leftSection {
  max-width: 300px;
  width: 100vw;
  background-image: url("img/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.rightSection {
  max-width: 350px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* rightSection content start */
.rightSection .content {
  margin-left: 30px;
}

.rightSection .info {
  letter-spacing: 3px;
  opacity: 0.6;
  font-size: 14px;
  padding: 10px 0;
  margin-top: 20px;
}

.rightSection .content .title {
  font-weight: 900;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.rightSection .text {
  opacity: 0.8;
  margin: 10px 0;
  padding-right: 80px;
}

.rightSection .priceSection {
  margin-top: 30px;
}

.rightSection .priceSection .price {
  font-size: 35px;
}

.rightSection .previousPrice {
  text-decoration: line-through;
  margin-left: 20px;
  position: absolute;
  margin-top: 10px;
  opacity: 0.6;
}

.rightSection .btn {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-left: -10px;
}

.rightSection .btn button {
  width: 250px;
  height: 45px;
  text-align: center;
  background-color: rgb(61, 129, 104);
  color: white;
  border: none;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 14px;
}

.rightSection .btn button i {
  margin-right: 10px;
}

.rightSection button:hover {
  background-color: rgb(11, 91, 61);
}

/* rightSection content end */
