* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: #3ebfff;
}

.cursor-pointer {
  cursor: pointer;
}

.content-1 {
  width: 100vw;
}

.img-header {
  display: block;
}

.img-1 {
  height: 100vh;
  object-fit: cover;
}

.img-div-1 {
  background-image: url("img/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  display: inline;
}
.img-div-2 {
  background-image: url("img/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  display: inline;
}
